html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightgray;
}
h1 {
  font-weight: bold;
  text-align: center;
  border-bottom: dotted cornflowerblue;
  font-family: Helvetica;
}

h2 {
  font-family: Arial;
}